<a href="https://colab.research.google.com/github/datapcc/xgboost/blob/master/carloan_antifraud_lanhai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install tools

  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from tools) (1.16.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from tools) (4.9.4)
Building wheels for collected packages: tools, pytils
  Building wheel for tools (setup.py) ... done
  Created wheel for tools: filename=tools-0.1.9-py3-none-any.whl size=46729 sha256=e1b5d5e1670b6a4aa605606e347fc11bedbc4de5843fa19a8a76a3510106ae74
  Stored in directory: /root/.cache/pip/wheels/c0/d0/70/a33bd4bed2af4f7038b038c16faab552cd0e9d9f4125223a71
  Building wheel for pytils (pyproject.toml) ... done
  Created wheel for pytils: filename=pytils-0.4.1-py3-none-any.whl size=32875 sha256=bf80a1f9bf961f45ed32ff9ba218bdf4ef42c381e8ad04620c7783aabbf34efa
  Stored in directory: /root/.cache/pip/wheels/5a/eb/7c/3b6f0c25815749883152b2caca34c35dbaab13ec2864270cbd
Successfully built tools pytils
Installing collected packages: pytils, tools
Successfully installed pytils-0.4.1 tools-0.1.9

In [1]:
import scorecardpipelinea

In [5]:
import sys
sys.path.append("../")

import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from scorecardpipeline import *
from scorecardpipeline.rule_extraction import DecisionTreeRuleExtractor


logger = init_setting(seed=8888, logger=True)


feature_map = {}
n_samples = 10000
ab = np.array(list('ABCDEFG'))

data = pd.DataFrame({
    'A': np.random.randint(10, size = n_samples),
    'B': ab[np.random.choice(7, n_samples)],
    'C': ab[np.random.choice(2, n_samples)],
    '时间': np.random.random(size = n_samples),
    'target': np.random.randint(2, size = n_samples)
})

In [9]:
data.columns

Index(['A', 'B', 'C', '时间', 'target'], dtype='object')

In [13]:
data.dtypes

A           int64
B          object
C          object
时间        float64
target      int64
dtype: object

In [12]:
data['时间'].describe()

count   10000.0000
mean        0.5008
std         0.2868
min         0.0001
25%         0.2532
50%         0.5022
75%         0.7487
max         1.0000
Name: 时间, dtype: float64

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
train, test = train_test_split(data, test_size=0.3, stratify=data["target"])

pdtr = DecisionTreeRuleExtractor(target="target", feature_map=feature_map, max_iter=8)
pdtr.fit(train, lift=0., max_depth=2, max_samples=1., verbose=False, min_samples_split=8, min_samples_leaf=5)
report = pdtr.report(valid=[test, train, data], save="model_report/决策树组合策略挖掘.xlsx")